@font-face {
    font-family: "IosevkaHeavy";
    src: url("../fonts/iosevka-ss18-heavy.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IosevkaMedium";
    src: url("../fonts/iosevka-ss18-medium.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IosevkaRegular";
    src: url("../fonts/iosevka-ss18-regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IosevkaItalic";
    src: url("../fonts/iosevka-ss18-italic.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IosevkaLight";
    src: url("../fonts/iosevka-ss18-light.woff2");
    font-weight: normal;
    font-style: normal;
}

