@import "fonts.css";

:root {
    --black: #000500;
    --green: #16B68E;
    --red: #B71540;
    --white: #E3D3E4;
    --grey: #B3B3B3;
    --separator-gradient-angle: 45deg;
}
/* reset all elements (to remove whitespace introduced by browsers etc) */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    background-color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--green);
    font-family: "IosevkaRegular";
}

h1 {
    font-size: 100px;
}

h2 {
    color: var(--green);
    font-family: "IosevkaHeavy";
    font-size: 64px;
}

li {
    list-style: none;
}

a, a:visited {
    color: var(--red);
    font-family: "IosevkaItalic";
}

p {
    color: var(--grey);
    font-family: "IosevkaLight";
    font-size: 32px;
}

.block {
    background-color: var(--black);
    padding: 15px 30px 30px 30px;
    border: 1px;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--white);
}

.separator {
    height: 4px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: radial-gradient(var(--red), var(--green));
    background-size: 200% 2000%;

    border-radius: 4px;
    animation: separator-animation 5s infinite;
    animation-timing-function: linear;
}

@keyframes separator-animation {
    0% {
        background-position: -50%;
    }

    100% {
        background-position: 150%;
    }
}

