---
---
@import "minima";
@import "monokai.css";

@font-face {
    font-family: "IosevkaHeavy";
    src: url("../assets/fonts/iosevka-ss18-heavy.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IosevkaMedium";
    src: url("../assets/fonts/iosevka-ss18-medium.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IosevkaRegular";
    src: url("../assets/fonts/iosevka-ss18-regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IosevkaItalic";
    src: url("../assets/fonts/iosevka-ss18-italic.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IosevkaLight";
    src: url("../assets/fonts/iosevka-ss18-light.woff2");
    font-weight: normal;
    font-style: normal;
}

/* reset all elements (to remove whitespace introduced by browsers etc) */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body, html {
    background-color: #1B0B1B;
}

h1, h2, h3, h4, h5, h6 {
    color: #EE4540;
    font-family: "IosevkaHeavy";
}
li {
    list-style: none;
}

a, a:visited {
    color: #0b6983;
    font-family: "IosevkaItalic";
}

p {
    color: #C72C41;
    font-family: "IosevkaRegular";
}

pre {
    border-color: #505050;
    background-color: #272822;
    border-radius: 8px;
}

code {
    background-color: #272822;
    color: #998;
    border: 0px;
    border-radius: 4px;
}

.highlight {
    background-color: #272822;
    border-radius: 16px;
}

.site-header, .site-footer {
    border: 0px;
}

.site-title, .site-title:visited {
    color: #EE4540;
}

.block {
    background-color: #2D132C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
    width: 80%;
    border: 3px;
    border-radius: 32px;
    border-style: solid;
    border-color: #372136;
}

.header {
    color: #EE4540;
    font-family: "IosevkaHeavy";
    text-align: center;
}

.separator {
    height: 4px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #610E29;
}

.bio {
    color: #C72C41;
    font-family: "IosevkaMedium";
    font-size: 32px;
    text-align: center;
}

.content-block {
    justify-content: space-evenly;
    display: flex;
    flex: wrap;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.page-content {
    background-color: #2D132C;
    margin: auto;
    padding-top: 40px;
    max-width: 80%;
    border: 3px;
    border-radius: 32px;
    border-style: solid;
    border-color: #372136;
}

.projects, .posts {
    border: 2px;
    border-radius: 16px;
    border-style: dotted;
    border-color: #610E29;

    width: 45%;
    min-width: 350px;
    min-height: 400px;

    margin-left: 20px;
    margin-right: 20px;
    margin: 0px 20px 20px;

    padding-top: 10px;
    position: relative;
}

.post-excerpt {
    width: 80%;
    margin: 10px auto 10px;
    padding: 5px 20px 5px;
    border-radius: 5px;

    font-family: "IosevkaLight";
    background-color: #372136;
    color: #909090;
    font-size: 14px;
}
